<div class="row" >
	<div class="col-xs-2">left bar</div>
	<div class="col-xs-3">
		<a href="#" class="thumbnail">
			<img data-src="holder.js/100%x180" alt="...">
		</a>
	</div>

	<div class="col-xs-3">
	    <a href="#" class="thumbnail">
			<img data-src="holder.js/100%x180" alt="...">
		</a>
	</div>


	<div class="col-xs-3">
	    <a href="#" class="thumbnail">
			<img data-src="holder.js/100%x180" alt="...">
		</a>
	</div>
	<div class="col-xs-1"> right bar</div>
</div>
