<div class="row pagination-centered" >
    <div class="span2">left bar</div>
    <div class="span3">
        <ul class="thumbnails">
            <li class="span3">
                <a href="#" class="thumbnail">
                    <img src="#" alt="" class="img-rounded" >
                    <strong>course1</strong>
                </a>
            </li>
        </ul>
    </div>

    <div class="span3">
        <ul class="thumbnails">
            <li class="span3">
                <a href="#" class="thumbnail">
                    <img src="#" alt="" class="img-rounded" >
                    <strong>course2</strong>
                </a>
            </li>
        </ul>
    </div>


    <div class="span3">
        <ul class="thumbnails">
            <li class="span3">
                <a href="#" class="thumbnail">
                    <img src="#" alt="" class="img-rounded" >
                    <strong>course3</strong>
                </a>
            </li>
        </ul>
  </div>
  <div class="span1"> right bar</div>
</div>