 <% content_for(:head) do %>
  <%= stylesheet_link_tag 'show_all.css' %>
<% end %>
<legend>Featured Course</legend>   
<div class="row pagination-centered" >
    <div class="span4">
      <ul class="thumbnails">
          <li class="span3">
              <div class="thumbnail"><a href="/course/?id=33">                
                    <img src="https://867heroku.s3.amazonaws.com/uploads/course/attachment/33/painting.png" alt="" class="img-rounded" >
                    <strong>watercolor painting</strong>
              </a></div>
          </li>
      </ul>
    </div> 
    <div class="span4">
      <ul class="thumbnails">
          <li class="span3">
              <div class="thumbnail"><a href="/course/?id=34">                
                    <img src="https://867heroku.s3.amazonaws.com/uploads/course/attachment/34/physics.png" alt="" class="img-rounded" >
                    <strong>Astronomy 101</strong>
              </a></div>
          </li>
      </ul>
    </div> 
    <div class="span4">
      <ul class="thumbnails">
          <li class="span3">
              <div class="thumbnail"><a href="/course/?id=35">                
                    <img src="https://867heroku.s3.amazonaws.com/uploads/course/attachment/35/rabit.png" alt="" class="img-rounded" >
                    <strong>Rabbit as a pet</strong>
              </a></div>
          </li>
      </ul>
    </div> 
    <div class="span4">
      <ul class="thumbnails">
          <li class="span3">
              <div class="thumbnail"><a href="/course/?id=38">                
                    <img src="https://867heroku.s3.amazonaws.com/uploads/course/attachment/38/roses.png" alt="" class="img-rounded" >
                    <strong>Grow roses</strong>
              </a></div>
          </li>
      </ul>
    </div> 
    <div class="span4">
      <ul class="thumbnails">
          <li class="span3">
              <div class="thumbnail"><a href="/course/?id=40">                
                    <img src="https://867heroku.s3.amazonaws.com/uploads/course/attachment/40/golf.png" alt="" class="img-rounded" >
                    <strong>How to play golf</strong>
              </a></div>
          </li>
      </ul>
    </div> 
    <div class="span4">
      <ul class="thumbnails">
          <li class="span3">
              <div class="thumbnail"><a href="/course/?id=42">                
                    <img src="https://867heroku.s3.amazonaws.com/uploads/course/attachment/42/toast.png" alt="" class="img-rounded" >
                    <strong>make toasts</strong>
              </a></div>
          </li>
      </ul>
    </div> 
</div>