<% content_for(:head) do %>
  <%= javascript_include_tag 'add_course.js' %>
<% end %>
<form class="form-horizontal">
    <div class = "row">        
        <div class="span7">
        	<div class="control-group">
        		<label class="control-label">Title</label>
        		<div class="controls">
                    <input type="text" id="title" placeholder="Course Title">
                </div>
            </div>
       </div> 
       <div class="span5">
            <div class="control-group">
                <label class="control-label">Topic</label>
                <div class="controls">
                   <select id = "topic">
                        <option>Art</option>
                        <option>Science</option>
                        <option>Technology</option>
                        <option>Personal Improvement</option>
                        <option>Home Improvement</option>
                        <option>Recreation</option>
                        <option>Others</option>
                    </select>
                </div>
            </div>
       </div>      
   </div> 
   <div class="row">
         <div class="span7">
            <div class="control-group">
                <label class="control-label">Date</label>
                <div class="controls">
                    <select id = "month"  class="input-small">
                    </select>
                    /
                    <select id = "day"  class="input-small">
                    </select>
                    /
                    <select id = "year"  class="input-small">
                    </select>
                </div> 
            </div>         
        </div> 
        <div class = "span5">
            <div class="control-group">
                <label class="control-label">Time</label>
                <div class="controls">
                    
                        <select id = "time-hr"  class="input-small">
                        </select>
                        :
                        <select id = "time-min"  class="input-small">
                        </select>
                </div> 
            </div>
        </div>
    </div>  
    <div class = "row">
        <div class="span7">
            <div class="control-group">
                <label class="control-label">Length</label>
                <div class="controls">
                   <select id = "hour" class="input-small">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>                       
                    </select>
                    hr
                    <select id = "minute" class="input-small">                     
                    </select>
                    min
                </div>
            </div>
       </div>      
        <div class="span5">
            <div class="control-group">
                <label class="control-label">Seats</label>
                <div class="controls">
                    <input type="text" id="seats" placeholder="seats">
                </div>
            </div>
       </div> 
   </div> 
   <div class = "row">
        <div class="span7">
           <div class="control-group">
                <label class="control-label" for="image-field">
                    Attachment
                </label>
                <div class="controls">
                    <input type="text" class="span4" placeholder="File name" id="image-file">
                    <!--<button class="btn" id="upload-Attachment">Upload</button>-->
                </div>
            </div>
        </div>
        <div class="span5">
            <div class="control-group">
                <label class="control-label">Price</label>
                <div class="controls">
                    <input type="text" id="price" placeholder="price">
                </div>
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Description</label>
        <div class="controls">
           <textarea rows="6" 
                      id="description" 
                      class="span8 input-block-level"
                      placeholder="Course Description"></textarea>
        </div>
    </div>   
   
    
    <div class="control-group">
        <div class="controls">
            <button id="submit" class="btn btn-primary">Submit</button>
        </div>    
    </div>    
 </form>           

